.gridCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--rtc-gap-xs);
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-rows: repeat(4, 1fr);
  padding: calc(var(--rtc-gap-xs) / 2);
}
.green {
  background-color: var(--rtc-color);
}
.yellow {
  background-color: var(--rtc-color-4);
}
.tickSize {
  height: var(--rtc-gap-xl);
  width: var(--rtc-gap-xl);
}
.largeFont {
  font-size: xx-large;
  font-weight: bolder;
}
.paired {
  pointer-events: none;
}
figcaption.hideCaption,
img.hideImage {
  display: none;
  backface-visibility: hidden;
}

a.flipped {
  padding: 0;
  /* border: var(--rtc-gap-xs) solid var(--rtc-color-4); */
}
/* TODO parece que lo de rotar cartas funciona a medias.  */
a {
  perspective: 1000px;
}
figure {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
a:active figure {
  transform: rotateX(180deg);
}
figcaption.hideCaption {
  transform: rotateX(180deg);
}
