:root {
  --rtc-color-card: var(--rtc-color-5);
}
/*TODO no se si tiene sentido el :root aqui pero no parece estar haciendo nada? */

.card {
  width: var(--rtc-content-width-narrow);
  margin: var(--rtc-margin-xs);
  border-radius: var(--rtc-margin-xs);
  background-color: var(--rtc-color-card);
  overflow: hidden;
  padding-bottom: 20px;
  /* min-height: 300px; */
  justify-content: center;
}

.card > img {
  object-fit: cover;
  width: 100%;
}
.card > figcaption {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.card > h3 {
  text-align: center;
}

.card > p {
  text-align: center;
  /* margin: 10px; */
}
